/*=== Header ===*/
.navbar .navbar-nav .nav-item a {
  font-size: 12px;
  color: #222222;
}

/*=== Carousel ====*/
.carousel .carousel-indicators li {
  background-color: #222222;
}


/*=== Footer ===*/
.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}



/*=== About us ===*/
.about-us .img {
  height: 350px;
  overflow: hidden;
}


/*=== Contact us ===*/
.contact-us .img {
  height: 350px;
  overflow: hidden;
}
