/*
	9. House Design Project, #hero-section
*/
#hero-section {
  overflow: visible;
}
#hero-section .logo {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#hero-section .block-left {
  padding: 15px 180px 15px 30px;
  background: black url("../images/hero-left.jpg") no-repeat 50% 50%;
  background-size: cover;
  filter: grayscale(1);
  position: relative;
  transition: 1s ease;
}
#hero-section .block-right {
  padding: 15px 30px 15px 180px;
  filter: grayscale(1);
  background: url("../images/hero-right.jpg") no-repeat 50% 60%;
  background-size: cover;
  min-height: 360px;
  transition: 1s ease;
}
#hero-section .block-left,
#hero-section .block-right {
  .content {
    background: rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 6px;
    opacity: 0;
    transform: translateY(20px);
    transition: .75s .5s ease;

    p {
      color: white;
    }
  }

  &:hover {
    filter: grayscale(0);

    .content {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
#hero-section .divider {
  background: url("../images/plant-1.png") no-repeat 50% 50%;
  background-size: contain;
  width: 350px;
  height: 445px;
  display: block;
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: -35px;
  transform: translateX(50%);
  pointer-events: none;
}

#hero-section .row > div:first-child {
  padding: 0;
}
#hero-section .row > div:last-child {
  padding: 0;
}

@media (min-width: 992px) {
  #hero-section .logo {
    right: 0;
    left: auto;
    top: 10px;
    transform: translateX(50%);
  }
}