#tree-at-home {
  min-height: 100vh;
  padding: 0;
  position: relative;
}

//////////// MAIN MENU ////////////
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  align-items: center;

  &-brand img {
    height: 50px;
  }

  &-nav {
    .nav-item {
      padding: 0 30px;
      margin: 0 15px;
      border: 2px solid transparent;
      transition: .25s ease-in;

      &:hover {
        border-color: #6EF832;
        border-radius: 100vh 0 100vh 100vh;
      }
    }

    .nav-link {
      font-weight: bold;
      color: white !important;
    }
  }
}

//////////// HERO SECTION ////////////
.hero-section {
  min-height: 100vh;
  width: 100%;
  background: url('../images/tree-at-home.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;

    .title {
      color: white;
      margin-bottom: 24px;
    }
  }
}