$primary-color: #3d9b19;
$secondary-color: #7abf18;

#tree-at-forest {
  height: 100vh;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}
//////////// NAVBAR ////////////
.navbar {
  background: rgba(0, 0, 0, .5) !important;
  z-index: 2 !important;
}

//////////// HERO SECTION ////////////
.hero-section {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  .owl-carousel {
    .owl-stage {
      height: 70vh;
    }

    .owl-item {
      img {
        width: 100vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
      }
    }

    .owl-dots {
      margin-top: -50px !important;
      position: relative;
      z-index: 2;
    }
  }
}
@media (min-width: 992px) {
  .hero-section {
    height: 100vh;

    .owl-carousel {
      .owl-stage {
        height: 100vh;
      }

      .owl-item img {
        height: 100vh;
      }
    }
  }
}

// ACTIVITIES SECTION
.activities-section {
  background: #e5e5e5;
  .card {
    border-radius: 6px;

    &-img {
      position: relative;
      height: 180px;

      img {
        position: absolute;
        width: 90%;
        height: 200px;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        border-radius: 6px;
        box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
      }
    }
  }
}


// PROGRAM SECTION
.program-section {
  .item {

    img {
      border-radius: 100vh;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }

    button {
      outline: none;
    }
  }
}


// EVENT SECTION
.events-section {
  background: #f4f4f4;
  padding-top: 70px;
  padding-bottom: 70px;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 500px;
    margin: auto;

    .item {
      text-align: center;
      position: relative;
      overflow: hidden;
      transition: .25s ease;
      box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

      &:hover {
        transform: translateY(5px);
        box-shadow: 0 9px 15px 0 rgb(0 0 0 / 10%);
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: -29px;
        left: -31px;
        width: 250px;
        height: 250px;
        background: $secondary-color;
        border: 2px solid $primary-color;
        border-radius: 100vh;
        padding: 40px;

        h2, p {
          color: white;
        }
      }

      &-right .content{
        right: -31px;
        left: auto;
      }

      button {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
@media (min-width: 992px) {
  .events-section {
    .grid {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// FORESTS SECTION
.forests-section {
  .container-fluid {
    position: relative;

    .background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50%;
      z-index: -1;
      background: url('../images/bg-forest-section.jpg') no-repeat center;
      background-size: cover;
    }

    .item {
      margin: auto;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100vh;
        overflow: hidden;
      }
    }
  }
}


// POPULAR SECTION
.popular-section {
  background: #f4f4f4;
  .plants .item {
    margin-bottom: 30px;

    .body {
      .image {
        width: 100%;
        height: 220px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        padding: 20px;
        background: white;

        p {
          min-height: 50px;
        }

        button:focus {
          outline: 0;
        }
      }
    }
  }
}

// POPULAR SECTION
.promo-section {
  height: 200px;
  background: url('../images/bg-promo.jpg') no-repeat center;
  background-size: cover;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  h1 {
    color: white;
    margin: 0;
  }
}


// FOOTER
.mainfooter {
  margin-top: 0;
}


// SHORTCUT
#shortcut {
  display: none;
}
@media (min-width: 1200px) {
  #shortcut {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 3;
    padding: 6px 12px;
    background: rgba(138, 238, 71, .5);
    border-radius: 100vh;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        text-align: right;
        padding: 5px 0;
        cursor: pointer;
        transition: .25s ease;

        &:hover {
          span {
            right: 100%;
            opacity: 1;
          }
        }

        a {
          width: 24px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;
          position: relative;
        }

        span {
          opacity: 0;
          transition: .25s ease;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          white-space: nowrap;
          pointer-events: none;
          background: rgba(138, 238, 71, .5);
          border-radius: 100vh;
          padding: 8px 15px;
          color: black;
          font-size: 14px;
        }

        i {
          color: black;
          font-size: 18px;
          transition: .25s ease;
          width: 24px;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}


//MODALS
#programSection-detail-1,
#programSection-detail-2,
#programSection-detail-3 {
  .modal-body {
    position: relative;
    padding: 0;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    color: white;
  }

  .banner {
    width: 100%;
    height: 250px;
    display: block;
    margin-bottom: 15px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .25)
    }

    .background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .logo {
    max-width: 120px;
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 1;
  }

  .title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 40px;
    margin: 0;
  }

  .content {
    padding: 20px 40px;
  }
}