$primary-color: #3d9b19;
$secondary-color: #7abf18;

#tree-at-home {
  min-height: 100vh;
  padding: 0;
  position: relative;
}

//////////// HERO SECTION ////////////
.hero-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    right: -75px;
    bottom: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5)
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }

  .content {
    text-align: center;
    position: relative;
    z-index: 1;

    .title {
      color: white;
      margin-bottom: 24px;
    }
  }
}
@media (min-width: 992px) {
  .hero-section {
    .video {
      right: 0;
    }
  }
}

//////////// TREE ITEM ////////////
.three-item {
  position: relative;
  z-index: 1;

  .item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .item {
    padding: 0 15px;
    text-align: center;
    width: 310px;
    height: 300px;

    .icon {
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      min-height: 40px;
    }
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
  }
}
@media (min-width: 460px) {
  .three-item {
    .container {
      max-width: 600px;
    }

    .item {
      width: 200px;
    }
  }
}
@media (min-width: 768px) {
  .three-item {
    .container {
      max-width: 720px;
    }

    .item {
      margin: 0 25px;
    }
  }
}
@media (min-width: 992px) {
  .three-item {
    .item-wrapper {
      gap: 50px;
    }

    .item {
      width: 200px;
      height: 500px;

      .icon {
        height: 200px;
      }

      p {
        min-height: 50px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .three-item {
    .container {
      max-width: 1140px;
    }
  }
}

//////////// TREE INFORMATION ////////////
.tree-information {
  background: #fbfbfb;

  .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 300px;

    .image {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;

      img {
        width: auto;
        height: 250px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      cursor: default;

      * {
        transition: .25s ease;
      }

      .icon {
        margin-bottom: 20px;
        font-size: 50px;
      }

      &:hover {
        .icon,
        .text h3 {
          color: $secondary-color;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .tree-information {
    .content {
      padding-top: 0;
      column-gap: 350px;

      .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        img {
          height: 450px;
        }
      }

      .item {
        text-align: left;
        flex-direction: row;

        .icon {
          margin-right: 40px;
          margin-bottom: 0;
        }
      }
      .item:nth-child(odd) {
        text-align: right;
        flex-direction: row-reverse;

        .icon {
          margin-right: 0;
          margin-left: 40px;
        }
      }
    }
  }
}


// MODAL
#treeConfiguration {
  .card {
    &-img-top {
      width: 100%;
      height: 100px;
    }
  }
}
@media (min-width: 767px) {
  #treeConfiguration {
    //padding-right: 0 !important;

    .modal-dialog {
      //max-width: calc(100% - 3.5rem);
      //min-height: calc(100vh - 3.5rem);
    }

    .modal-content {
      //min-height: calc(100vh - 3.5rem);
    }

    .card {
      position: relative;

      &-img-top {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
}



// PRODUCT DETAIL
.product-detail {
  .image {
    text-align: center;

    img {
      max-width: 100%;
      height: 500px;
      object-fit: contain;
    }
  }
}