$primary-color: #3d9b19;
$secondary-color: #7abf18;

#tree-at-home {
  min-height: 100vh;
  padding: 0;
  position: relative;
}

//////////// MAIN MENU ////////////
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  align-items: center;
  background: rgba(0, 0, 0, .5);

  &-brand {
    margin: 0 auto;
    padding-left: 56px;

    img {
      height: 50px;
    }
  }

  &-nav {
    .nav-item {
      margin: 0 15px;
      border: 2px solid transparent;
      transition: .25s ease-in;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    .nav-link {
      font-weight: bold;
      color: white !important;
    }
  }
}
@media (min-width: 992px) {
  .navbar {
    background: transparent;

    &-brand {
      margin: 0;
      padding-left: 20px;

      img {
        height: 70px;
      }
    }

    &-nav {
      .nav-item {
        padding: 0 30px;

        &:hover {
          text-decoration: none;
          border-color: #85f807;
          border-radius: 100vh 0 100vh 100vh;
        }
      }
    }
  }
}

//////////// HERO SECTION ////////////
.hero-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5)
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    text-align: center;
    position: relative;
    z-index: 1;

    .title {
      color: white;
      margin-bottom: 24px;
    }
  }
}

//////////// TREE INFORMATION ////////////
.tree-information {
  background: #fbfbfb;

  .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 300px;

    .image {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;

      img {
        width: auto;
        height: 250px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      cursor: default;

      * {
        transition: .25s ease;
      }

      .icon {
        margin-bottom: 20px;
        font-size: 50px;
      }

      &:hover {
        .icon,
        .text h3 {
          color: $secondary-color;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .tree-information {
    .content {
      padding-top: 0;
      column-gap: 350px;

      .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        img {
          height: 450px;
        }
      }

      .item {
        text-align: left;
        flex-direction: row;

        .icon {
          margin-right: 40px;
          margin-bottom: 0;
        }
      }
      .item:nth-child(odd) {
        text-align: right;
        flex-direction: row-reverse;

        .icon {
          margin-right: 0;
          margin-left: 40px;
        }
      }
    }
  }
}

// FOOTER

/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


// #treeConfiguration
@media (min-width: 1200px) {
  #treeConfiguration {
    .modal-dialog {
      max-width: calc(100% - 3.5rem);
    }
  }
}